.header{
	font-size: 50px;
	color:green;
}
blockquote{
	background: #f9f9f9;
	opacity:0.6;
}
body{
	background-image: url(http://www.iflscience.com/sites/www.iflscience.com/files/styles/ifls_large/public/blog/%5Bnid%5D/shutterstock_109857935_0.jpg?itok=ltNMJqyH);
	background-repeat: no-repeat;
	background-size: cover;
}
p{
	color:red;
	font-size: 20px;
}